<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>{{ quiz.title }}</h1>
      <p>{{ quiz.description }}</p>
    </div>
    <div class="col-sm">
      <button
        type="button"
        class="btn btn-secondary"
        [routerLink]="['/questions/add']"
      >
        Add Question
      </button>
    </div>
  </div>
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" *ngIf="quizForm">
    <div class="row mb-2" *ngFor="let question of questions; index as i">
      <!--Form Checkbox Start-->
      <div class="col-sm" [formGroup]="question.questionTitle">
        <h4>{{ i + 1 }} ) {{ question.questionTitle }}</h4>
        <div class="form-check" *ngFor="let answer of question?.answers">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="answer.answerTitle"
            />{{ answer.answerTitle }}
          </label>
        </div>
      </div>
      <!--Form Checkbox end-->
      <div class="col-sm">
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="currentUser.authority === 'ROLE_VIEW_USER' || 'ROLE_ADMIN'"
        >
          Show Answer
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Submit</button>
  </form>
</div>
{{ quizForm.value | json }}
