<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>{{ quiz.title }}</h1>
      <p>{{ quiz.description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h3>QUestion</h3>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" />Option 1
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" />Option 2
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" />Option 3
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" />Option 3
        </label>
      </div>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary">Show Answer</button>
    </div>
  </div>
</div>
